@import './reset';
@import './fonts';
@import './colors';

* {
  font-family: $GloberBold, sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//FONTS

h1,
h2,
h3 {
  align-self: center;
  justify-self: center;
  text-align: center;
  text-transform: uppercase;
  color: $elugel_blue;
  z-index: 100;
}

h1 {
  font-size: 3vw;

  &.green--head {
    background-color: $elugel_green;
    padding: 0.5vw 2vw;
  }
}

h3 {
  // text-transform: none;
  font-size: 1.5vw;

  &.green--head {
    font-family: $GloberSemiBold, sans-serif;
    background-color: $elugel_green;
    padding: 1vw 2vw;
    border-radius: 2vw;
    cursor: pointer;
  }
}

p {
  font-family: $GloberRegular, sans-serif;
  font-size: 0.5vw;
  align-self: center;
  justify-self: center;
  padding: 0 2vw;
  text-align: center;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

//STYLES

.main--container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
  min-width: 120%;
  min-height: 200%;
  position: absolute;
  z-index: -100;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.page {
  width: 100%;
  height: 100%;

  &.one {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 18% 1fr 15%;
  }

  &.two {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 1fr;
  }

  &.three {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 18% 1fr;
  }

  &.four {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 1fr 20%;
  }
}

.imago {
  width: 100%;
  max-width: 50%;
  max-height: 50%;
  align-self: center;
  justify-self: center;
}

.box {
  width: 100%;
  height: 100%;

  .icon--one {
    width: 120%;
  }

  &.align {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .color {
    background-color: darkmagenta;
  }

  &.footer {
    display: grid;
    grid-template-rows: 1fr;
    background-color: white;

    &.three {
      height: 10vw;
      grid-template-columns: 20% 1fr 20%;
    }

    &.four {
      grid-template-columns: 20% 1fr 1fr 20%;
    }
  }

  &.relative {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.absolute {
    position: absolute;
  }

  &.right {
    right: -15%;
  }

  .arrow {
    animation: arrow 2s ease-in-out infinite;
    transform: translateX(-15%);

    @keyframes arrow {
      0% {
        transform: translateX(-7%);
      }
      50% {
        transform: translateX(7%);
      }
      100% {
        transform: translateX(-7%);
      }
    }
  }

  &.center {
    top: 35%;
    left: 37%;
    transform: scale(0.5) translate(-50%, -50%);
  }

  &.half {
    transform: scale(0.5);
  }

  &.popup {
    position: absolute;
    z-index: 200;
    width: 80%;
    height: 80%;
    background: linear-gradient(white, lighten($elugel_green, 20));
    border-radius: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $elugel_blue;
    box-shadow: (0 1vw 2vw rgba(black, 0.5));
    padding: 5vw;
    animation: popup 0.7s ease-in-out;
    transform: scale(1);

    @keyframes popup {
      0% {
        transform: scale(0);
      }

      100% {
        transform: scale(1);
      }
    }

    h1 {
      font-size: 5vw;
      color: $elugel_blue;
    }

    i {
      position: absolute;
      top: 3%;
      right: 3%;
      font-size: 3vw;
      color: $elugel_blue;
      cursor: pointer;
    }

    .italic {
      font-style: italic;
    }

    img {
      width: 50%;
      margin-bottom: 3vw;
    }
  }

  img {
    align-self: center;
    justify-self: center;
  }

  &.one {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 1fr 15%;
  }

  &.to--left {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    .logo {
      position: absolute;
      top: 0;
    }
  }

  //COLS

  &.two--cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    background-color: white;

    img {
      max-width: 100%;
      max-height: 100%;
      align-self: center;
      justify-self: center;
    }
  }

  &.three--cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    background-color: white;
  }

  &.four {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    background-color: white;

    img {
      align-self: center;
      justify-self: center;
      max-width: 100%;
      max-height: 100%;
    }
  }

  &.col--75--25 {
    display: grid;
    grid-template-columns: 75% 1fr;
    grid-template-rows: 1fr;
    background-color: white;
  }

  &.col--70--30 {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr;
    background-color: white;
  }

  &.col--1--15--1 {
    display: grid;
    grid-template-columns: 1fr 15% 1fr;
    grid-template-rows: 1fr;
    background-color: white;

    img {
      cursor: pointer;
    }
  }

  &.col--15--1 {
    display: grid;
    grid-template-columns: 15% 1fr;
    grid-template-rows: 1fr;
    background-color: white;
  }

  //ROWS

  &.two--rows {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  &.eighty {
    height: 80%;
  }

  &.three--rows {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    background-color: white;

    img {
      align-self: center;
      justify-self: center;
      max-width: 95%;
      max-height: 95%;
    }

    #zestaw {
      transition: all 0.5s;
      cursor: pointer;
    }
  }

  &.row--15--1--15 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 1fr 15%;
    background-color: white;

    img {
      align-self: center;
      justify-self: center;
    }
  }

  &.row--15--1--20 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 1fr 20%;
    background-color: white;

    img {
      align-self: flex-start;
      justify-self: center;
    }
  }
  &.row--25--1--5 {
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 28% 1fr 5%;
    background-color: white;

    img {
      align-self: center;
      justify-self: center;
    }
  }

  &.row--15--1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 1fr;
    background-color: white;
  }

  &.row--1--15 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 15%;
    background-color: white;
  }

  &.row--20--1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 1fr;
    background-color: white;

    img {
      align-self: flex-start;
    }
  }
  &.row--18--1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 1fr;
    background-color: white;

    img {
      align-self: flex-start;
    }
  }

  h1 {
    justify-self: flex-start;
    text-align: left;
    text-transform: none;
    color: $elugel_blue;
    font-family: $GloberBold, sans-serif;
  }

  .list--text {
    font-size: 1.5vw;
    justify-self: flex-start;
    align-self: flex-start;
    text-align: left;
    text-transform: none;
    color: $elugel_blue;
    font-family: $GloberBold, sans-serif;
    transition: all 0.5s;
  }

  &.row--25--1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 1fr;
    background-color: white;
  }
}

.pulse {
  animation: pulse 4s ease-in-out infinite;
  transform: scale(1);

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    30% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    70% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }
}

.max--dimentions {
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

.list {
  display: grid;
  grid-template-columns: 5% 1fr;
  grid-template-rows: repeat(10, 1fr) 1.5fr;
  background-color: white;
}

.headline {
  animation: headline 1s ease-in-out;
  transform: translateX(0%);

  @keyframes headline {
    0% {
      transform: translateX(-150%);
    }
    100% {
      transform: translateX(-0%);
    }
  }
}

.paczka {
  filter: drop-shadow(0, 1vw, 3vw, rgba(black, 0.5));
}

.teeth {
  transform: translateX(0%);

  &.one {
    animation: teeth 1s ease-in-out;
  }

  &.two {
    animation: teeth 1.5s ease-in-out;
  }

  &.three {
    animation: teeth 2s ease-in-out;
  }

  @keyframes teeth {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}

.chevron {
  transform: translateY(0%);
  opacity: 1;
  animation: chevron 1s ease-in-out;

  @keyframes chevron {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
}

.paczka {
  transform: translate(15%, -25%) scale(0.7);
}

.set {
  transform: translate(30%, -20%) scale(0.8);
}

.bkgrd {
  align-self: center;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
