@import "./components/reset";
@import "./components/fonts";
@import "./components/colors";

body {
  font-family: "Lato";
  background-color: $elugel_blue;
  overflow: hidden;
}

.main--container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page {
  position: absolute;
  width: 95%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;

  &.page02 {
    position: absolute;
    bottom: 0;
    height: 75%;
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 1fr;
  }

  &.page03 {
    position: absolute;
    bottom: 0;
    height: 75%;
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

.fotka--tlo {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(./img/czasteczka_tlo_01.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tlo {
  width: 100vw;
  min-width: 100vw;
  height: 100vh;
  min-height: 100vh;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
}

.footer {
  position: absolute;
  width: 100%;
  height: 12vw;
  background-color: white;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;

  .icon {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    img {
      height: 90%;
    }

    &.dalej {
      margin-left: 3vw;
      cursor: pointer;
    }
  }
}

.content {
  width: 100%;
  height: 65%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30% 50% 20%;

  .headline--image {
    height: 100%;
    max-height: 100%;
    opacity: 1;
    transform: translateX(12vw);
    animation: headline 1s ease-out;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &:nth-of-type(3) {
      background-image: url(../src/img/miejscowa_antyseptyka.svg);
    }

    @keyframes headline {
      0% {
        opacity: 0;
        transform: translateX(-100vw);
      }
      100% {
        opacity: 1;
        transform: translateX(12vw);
      }
    }
  }

  &.page02 {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 60% 20%;
  }

  &.page03 {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 60% 5% 15%;

    .headline--image {
      width: 100%;
      height: 100%;
      background-image: url(../src/img/klinicznie_potwierdzona.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .headline {
      img {
        height: 90%;
        max-height: 90%;
      }
    }

    .buttons {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
    }
  }

  &.page04 {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 55% 5% 15%;

    .headline {
      img {
        height: 90%;
        max-height: 90%;
      }
    }

    .buttons {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
    }
  }

  &.page05 {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 40% 20% 5% 15%;

    .buttons {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
    }
  }

  &.page06 {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 35% 15% 15% 5% 15%;

    .buttons {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
    }
  }

  &.page_content_07 {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 60% 5% 15%;

    .headline {
      img {
        height: 90%;
        max-height: 90%;
      }
      .headline--image {
        height: 100%;
        max-height: 100%;
        opacity: 1;
        transform: translateX(4vw);
        animation: headline_07 1s ease-out;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @keyframes headline_07 {
          0% {
            opacity: 0;
            transform: translateX(-100vw);
          }
          100% {
            opacity: 1;
            transform: translateX(4vw);
          }
        }
      }
    }

    .pudelko-na-fote {
      width: 100%;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      &.fotka-07 {
        width: 100%;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &:nth-of-type(1) {
          background-image: url(../src/img/fotka_str_07.png);
        }
        &:nth-of-type(2) {
          background-image: url(../src/img/strzalka.svg);
        }
      }
    }

    .five-pictures {
      width: 100%;
      height: 70%;
      display: flex;
      flex-direction: column;

      align-self: center;

      .in-five-pictures {
        display: grid;
        width: 100%;
        height: 50%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: 1vw;
        align-self: center;
        justify-self: center;
        margin-bottom: 0.5vw;

        &:nth-of-type(2) {
          margin-bottom: 0vw;
          margin-top: 0.5vw;
          grid-template-columns: 16.5% 1fr 1fr 16.5%;
        }

        .picture-page-07 {
          width: 100%;
          max-width: 100%;
          height: auto;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          transform: scale(1);
          animation: picture07 0.5s ease-in-out;
          border-radius: 0.3rem;

          &:nth-of-type(1) {
            background-image: url(../src/img/zeby_str_07_01.jpg);
          }
          &:nth-of-type(2) {
            background-image: url(../src/img/zeby_str_07_02.jpg);
          }
          &:nth-of-type(3) {
            background-image: url(../src/img/zeby_str_07_03.jpg);
          }
          &:nth-of-type(4) {
            background-image: url(../src/img/zeby_str_07_04.jpg);
          }
          &:nth-of-type(5) {
            background-image: url(../src/img/zeby_str_07_05.jpg);
          }

          @keyframes picture07 {
            0% {
              transform: scale(0);
            }

            100% {
              transform: scale(1);
            }
          }
        }
      }
    }

    .buttons {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
    }
  }

  &.page_content_08 {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 20% 45% 15%;

    .buttons {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
    }
    .pudelko-na-fote {
      width: 100%;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      &:nth-of-type(1) {
        background-image: url(../src/img/40_ml.svg);
      }

      &:nth-of-type(2) {
        background-image: url(../src/img/Elugel_paczka_04.gif);
        filter: drop-shadow(0 1rem 1rem rgba(black, 0.2));
      }
    }
    .headline--image {
      height: 100%;
      max-height: 100%;
      opacity: 1;
      transform: translateX(4vw);
      animation: headline_08 1s ease-out;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      @keyframes headline_08 {
        0% {
          opacity: 0;
          transform: translateX(-100vw);
        }
        100% {
          opacity: 1;
          transform: translateX(4vw);
        }
      }
    }
  }

  &.content_page09 {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 70% 15%;

    .headline--image {
      height: 100%;
      max-height: 100%;
      opacity: 1;
      transform: translateX(12vw);
      animation: headline 1s ease-out;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      &:nth-of-type(3) {
        background-image: url(../src/img/miejscowa_antyseptyka.svg);
      }

      @keyframes headline {
        0% {
          opacity: 0;
          transform: translateX(-100vw);
        }
        100% {
          opacity: 1;
          transform: translateX(12vw);
        }
      }
    }

    .box-for-two {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;

      .box-for-picture {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        align-self: center;
        justify-self: center;
        cursor: pointer;

        &:nth-of-type(1) {
          background-image: url(../src/img/aplikacja_zelu.svg);
        }
        &:nth-of-type(2) {
          background-image: url(../src/img/masaz_dziasel.svg);
        }
      }
    }

    .buttons {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
    }
  }

  .headline {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h1,
  h3 {
    color: white;
    font-size: 3vw;
    font-weight: 800;
    align-self: center;
    justify-self: center;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0.3rem 0.3rem rgba(black, 0.8);
    display: inline-block;
  }
  h3 {
    font-size: 2vw;
  }
  .paczka {
    width: auto;
    height: 90%;
    max-height: 90%;
    filter: drop-shadow(-1.5rem 1rem 2rem rgba(black, 0.6));
    align-self: center;
    justify-self: center;
  }
}

.presentation {
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: 35% 30% 35%;
  grid-template-rows: 1fr;

  .tubka--image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      position: relative;
      width: 100%;
      max-width: 100%;
      height: 100%;
      max-height: 100%;
      transform: scale(1);
    }
  }
}

.presentation--side {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30% 70%;

  video {
    width: 100%;
    max-width: 100%;
  }

  &.right {
    grid-template-rows: 80% 20%;
  }
}

.molecule {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0 1rem 0.5rem rgba(black, 0.2));

  &.chlorheksydyna {
    background-image: url(../src/img/molekula_02_3D-2.gif);
    z-index: 100;
  }

  &.glicerol {
    background-image: url(../src/img/molekula_01_3D.gif);
    z-index: 100;
  }

  &.no--alco {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr;
    background-image: url(../src/img/no_alco.svg);
    filter: drop-shadow(0 0rem 0rem rgba(black, 0));
  }

  &.about--glicerol {
    background-image: url(../src/img/o_glicerolu.svg);
    filter: drop-shadow(0 1rem 0.2rem rgba(black, 0));
    animation: slide 1.5s ease-out;
    transform: translateY(-0%);
    opacity: 1;
  }

  &.about--chlorex {
    background-image: url(../src/img/o_chlorchex.svg);
    filter: drop-shadow(0 0.7rem 0.2rem rgba(black, 0));
    animation: slide 1.5s ease-out;
    transform: translateY(-0%);
    opacity: 1;
  }

  @keyframes slide {
    0% {
      transform: translateY(200%);
      opacity: 0;
    }

    50% {
      opacity: 0;
    }

    100% {
      transform: translateY(-0%);
      opacity: 1;
    }
  }
}

.three--pictures {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3 1fr);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .red {
    width: 100%;
    height: 100%;
    background-image: url(../src/img/protetyka.svg);
    animation: tootsie 1.5s ease-out;
    transform: translateX(0%);
    opacity: 1;
  }

  .green {
    width: 100%;
    height: 100%;
    background-image: url(../src/img/periodontologia.svg);
    animation: tootsie 2s ease-out;
    transform: translateX(0%);
    opacity: 1;
  }

  .blue {
    width: 100%;
    height: 100%;
    background-image: url(../src/img/chirurgia.svg);
    animation: tootsie 2.5s ease-out;
    transform: translateX(0%);
    opacity: 1;
  }

  @keyframes tootsie {
    0% {
      transform: translateX(200%);
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
}

.back {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-image: url(../src/img/back_normal.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dalej {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-image: url(../src/img/dalej_normal.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
  width: 70%;
  height: 60%;
  align-self: center;
  justify-self: center;
  background-color: $elugel_green;
  border: none;
  border-radius: 2rem;
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
}

.popup {
  position: absolute;
  width: 80%;
  height: 80%;
  background-color: white;
  z-index: 100;
  border-radius: 2rem;
  border: 1px solid $elugel_green;
  box-shadow: 0 2rem 5rem rgba(black, 0.6);
  animation: showUp 0.5s ease-out;
  opacity: 1;
  transform: scale(1);
  overflow: hidden;
  transition: 0.5s;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 90%;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(240, 247, 104, 1) 100%
  );

  h1 {
    font-size: 3rem;
    color: $elugel_blue;
    text-align: center;
    align-self: center;
    justify-self: center;
    line-height: 4rem;

    sup {
      vertical-align: super;
      font-size: 1.5rem;
    }
  }

  @keyframes showUp {
    0% {
      opacity: 0;
      transform: scale(0.6);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .close {
    position: relative;
    background-color: $elugel_green;
    width: 3vw;
    height: 3vw;
    right: -76vw;
    top: 1vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
  }
}

p {
  font-size: 0.4rem;
  align-self: center;
  justify-self: center;

  sup {
    vertical-align: super;
    font-size: 0.2rem;
  }
}

.page04 {
  display: grid;
  grid-template-columns: 45% 10% 45%;
  grid-template-rows: 1fr;

  .pudelko-na-fote {
    width: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &:nth-of-type(1) {
      background-image: url(../src/img/stosowanie_antybiotykow.svg);
    }
    &:nth-of-type(2) {
      background-image: url(../src/img/strzalka.svg);
    }
    &:nth-of-type(3) {
      background-image: url(../src/img/nie_zaleca_sie.svg);
    }
  }

  img {
    align-self: center;
    justify-self: center;
    cursor: pointer;
  }

  #strzalka {
    transform: translateX(-5%);
    animation: arrow 1s infinite ease-in-out;
  }

  @keyframes arrow {
    0% {
      transform: translateX(-10%);
    }
    50% {
      transform: translateX(10%);
    }
    100% {
      transform: translateX(-10%);
    }
  }
}

.pudelko--05 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 1fr;

  .obrazek--05 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &:nth-of-type(1) {
      background-image: url(../src/img/bezposrednia_aplikacja.svg);
      animation: arrow_moves 1.5s infinite ease-in-out;
      transform: translateX(20%);

      @keyframes arrow_moves {
        0% {
          transform: translateX(20%);
        }
        50% {
          transform: translateX(30%);
        }
        100% {
          transform: translateX(20%);
        }
      }
    }

    &:nth-of-type(2) {
      background-image: url(../src/img/Elugel_paczka_02.gif);
      filter: drop-shadow(0 1rem 1rem rgba(black, 0.5));
    }
  }
}

.obrazek--05-02 {
  width: 100%;
  height: 100%;
  background-image: url(../src/img/miejscowo_dzialajacy.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pudelko--06 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.obrazek--06 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &:nth-of-type(1) {
    background-image: url(../src/img/pudlo_zestaw.gif);
    filter: drop-shadow(0 0rem 0.6rem rgba(black, 0.5));
    z-index: 100;
  }

  &:nth-of-type(2) {
    background-image: url(../src/img/stosowanie_antyseptyki.svg);
  }

  &:nth-of-type(3) {
    background-image: url(../src/img/antyseptyka_w_chirurgii.svg);
  }
}
.page07 {
  display: grid;
  grid-template-columns: 30% 25% 40%;
  grid-template-rows: 1fr;

  .pudelko-na-fote {
    width: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &:nth-of-type(1) {
      background-image: url(../src/img/stosowanie_antybiotykow.svg);
    }
    &:nth-of-type(2) {
      background-image: url(../src/img/graphic_page_07.svg);
    }
    &:nth-of-type(3) {
      background-image: url(../src/img/nie_zaleca_sie.svg);
    }
  }

  img {
    align-self: center;
    justify-self: center;
    cursor: pointer;
  }

  #strzalka_07 {
    transform: translateX(0%);
    animation: arrow_two 1s infinite ease-in-out;
  }

  @keyframes arrow_two {
    0% {
      transform: translateX(-10%);
    }
    50% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-10%);
    }
  }
}

.pop_09 {
  width: 100%;
  height: auto;
  align-self: center;
  justify-self: center;
}
