/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Lato";
  background-color: #005ca7;
  overflow: hidden;
}

.main--container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page {
  position: absolute;
  width: 95%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page.page02 {
  position: absolute;
  bottom: 0;
  height: 75%;
  width: 100%;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 75% 25%;
      grid-template-columns: 75% 25%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.page.page03 {
  position: absolute;
  bottom: 0;
  height: 75%;
  width: 100%;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.fotka--tlo {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(./img/czasteczka_tlo_01.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tlo {
  width: 100vw;
  min-width: 100vw;
  height: 100vh;
  min-height: 100vh;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
}

.footer {
  position: absolute;
  width: 100%;
  height: 12vw;
  background-color: white;
  bottom: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.footer .icon {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .icon img {
  height: 90%;
}

.footer .icon.dalej {
  margin-left: 3vw;
  cursor: pointer;
}

.content {
  width: 100%;
  height: 65%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 30% 50% 20%;
      grid-template-rows: 30% 50% 20%;
}

.content .headline--image {
  height: 100%;
  max-height: 100%;
  opacity: 1;
  -webkit-transform: translateX(12vw);
          transform: translateX(12vw);
  -webkit-animation: headline 1s ease-out;
          animation: headline 1s ease-out;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content .headline--image:nth-of-type(3) {
  background-image: url(../src/img/miejscowa_antyseptyka.svg);
}

@-webkit-keyframes headline {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(12vw);
            transform: translateX(12vw);
  }
}

@keyframes headline {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(12vw);
            transform: translateX(12vw);
  }
}

.content.page02 {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 20% 60% 20%;
      grid-template-rows: 20% 60% 20%;
}

.content.page03 {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 20% 60% 5% 15%;
      grid-template-rows: 20% 60% 5% 15%;
}

.content.page03 .headline--image {
  width: 100%;
  height: 100%;
  background-image: url(../src/img/klinicznie_potwierdzona.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content.page03 .headline img {
  height: 90%;
  max-height: 90%;
}

.content.page03 .buttons {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.content.page04 {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 25% 55% 5% 15%;
      grid-template-rows: 25% 55% 5% 15%;
}

.content.page04 .headline img {
  height: 90%;
  max-height: 90%;
}

.content.page04 .buttons {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.content.page05 {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 20% 40% 20% 5% 15%;
      grid-template-rows: 20% 40% 20% 5% 15%;
}

.content.page05 .buttons {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.content.page06 {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 15% 35% 15% 15% 5% 15%;
      grid-template-rows: 15% 35% 15% 15% 5% 15%;
}

.content.page06 .buttons {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.content.page07 {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 20% 60% 5% 15%;
      grid-template-rows: 20% 60% 5% 15%;
}

.content.page07 .headline img {
  height: 90%;
  max-height: 90%;
}

.content.page07 .pudelko-na-fote {
  width: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content.page07 .pudelko-na-fote.fotka-07 {
  width: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content.page07 .pudelko-na-fote.fotka-07:nth-of-type(1) {
  background-image: url(../src/img/fotka_str_07.png);
}

.content.page07 .pudelko-na-fote.fotka-07:nth-of-type(2) {
  background-image: url(../src/img/strzalka.svg);
}

.content.page07 .five-pictures {
  width: 100%;
  height: 55%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 1vw;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.content.page07 .five-pictures .picture-page-07 {
  width: 100%;
  max-width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: picture07 0.5s ease-in-out;
          animation: picture07 0.5s ease-in-out;
}

@-webkit-keyframes picture07 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes picture07 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.content.page07 .buttons {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.content .headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content h1,
.content h3 {
  color: white;
  font-size: 3vw;
  font-weight: 800;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.8);
  display: inline-block;
}

.content h3 {
  font-size: 2vw;
}

.content .paczka {
  width: auto;
  height: 90%;
  max-height: 90%;
  -webkit-filter: drop-shadow(-1.5rem 1rem 2rem rgba(0, 0, 0, 0.6));
          filter: drop-shadow(-1.5rem 1rem 2rem rgba(0, 0, 0, 0.6));
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.presentation {
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% 30% 35%;
      grid-template-columns: 35% 30% 35%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.presentation .tubka--image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.presentation .tubka--image img {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.presentation--side {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 30% 70%;
      grid-template-rows: 30% 70%;
}

.presentation--side video {
  width: 100%;
  max-width: 100%;
}

.presentation--side.right {
  -ms-grid-rows: 80% 20%;
      grid-template-rows: 80% 20%;
}

.molecule {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: drop-shadow(0 4rem 0.5rem rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0 4rem 0.5rem rgba(0, 0, 0, 0.2));
}

.molecule.chlorheksydyna {
  background-image: url(../src/img/molekula_02_3D-2.gif);
  z-index: 100;
}

.molecule.glicerol {
  background-image: url(../src/img/molekula_01_3D.gif);
  z-index: 100;
}

.molecule.no--alco {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  background-image: url(../src/img/no_alco.svg);
  -webkit-filter: drop-shadow(0 0rem 0rem rgba(0, 0, 0, 0));
          filter: drop-shadow(0 0rem 0rem rgba(0, 0, 0, 0));
}

.molecule.about--glicerol {
  background-image: url(../src/img/o_glicerolu.svg);
  -webkit-filter: drop-shadow(0 1rem 0.2rem rgba(0, 0, 0, 0));
          filter: drop-shadow(0 1rem 0.2rem rgba(0, 0, 0, 0));
  -webkit-animation: slide 1.5s ease-out;
          animation: slide 1.5s ease-out;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.molecule.about--chlorex {
  background-image: url(../src/img/o_chlorchex.svg);
  -webkit-filter: drop-shadow(0 0.7rem 0.2rem rgba(0, 0, 0, 0));
          filter: drop-shadow(0 0.7rem 0.2rem rgba(0, 0, 0, 0));
  -webkit-animation: slide 1.5s ease-out;
          animation: slide 1.5s ease-out;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

.three--pictures {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3 1fr);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.three--pictures .red {
  width: 100%;
  height: 100%;
  background-image: url(../src/img/protetyka.svg);
  -webkit-animation: tootsie 1.5s ease-out;
          animation: tootsie 1.5s ease-out;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

.three--pictures .green {
  width: 100%;
  height: 100%;
  background-image: url(../src/img/periodontologia.svg);
  -webkit-animation: tootsie 2s ease-out;
          animation: tootsie 2s ease-out;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

.three--pictures .blue {
  width: 100%;
  height: 100%;
  background-image: url(../src/img/chirurgia.svg);
  -webkit-animation: tootsie 2.5s ease-out;
          animation: tootsie 2.5s ease-out;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

@-webkit-keyframes tootsie {
  0% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes tootsie {
  0% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

.back {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  background-image: url(../src/img/back_normal.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dalej {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  background-image: url(../src/img/dalej_normal.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
  width: 70%;
  height: 60%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  background-color: #ccd615;
  border: none;
  border-radius: 2rem;
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
}

.popup {
  position: absolute;
  width: 80%;
  height: 80%;
  background-color: white;
  z-index: 100;
  border-radius: 2rem;
  border: 1px solid #ccd615;
  -webkit-box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.6);
  -webkit-animation: showUp 0.5s ease-out;
          animation: showUp 0.5s ease-out;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 10% 90%;
      grid-template-rows: 10% 90%;
  background: -webkit-gradient(linear, left bottom, left top, from(white), to(#f0f768));
  background: linear-gradient(0deg, white 0%, #f0f768 100%);
}

.popup h1 {
  font-size: 3rem;
  color: #005ca7;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  line-height: 4rem;
}

.popup h1 sup {
  vertical-align: super;
  font-size: 1.5rem;
}

@-webkit-keyframes showUp {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes showUp {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.popup .close {
  position: relative;
  background-color: #ccd615;
  width: 3vw;
  height: 3vw;
  right: -76vw;
  top: 1vw;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  cursor: pointer;
}

p {
  font-size: 0.4rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

p sup {
  vertical-align: super;
  font-size: 0.2rem;
}

.page04 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 10% 45%;
      grid-template-columns: 45% 10% 45%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.page04 .pudelko-na-fote {
  width: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page04 .pudelko-na-fote:nth-of-type(1) {
  background-image: url(../src/img/stosowanie_antybiotykow.svg);
}

.page04 .pudelko-na-fote:nth-of-type(2) {
  background-image: url(../src/img/strzalka.svg);
}

.page04 .pudelko-na-fote:nth-of-type(3) {
  background-image: url(../src/img/nie_zaleca_sie.svg);
}

.page04 img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  cursor: pointer;
}

.page04 #strzalka {
  -webkit-transform: translateX(-5%);
          transform: translateX(-5%);
  -webkit-animation: arrow 1s infinite ease-in-out;
          animation: arrow 1s infinite ease-in-out;
}

@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  50% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  100% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
}

@keyframes arrow {
  0% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  50% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  100% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
}

.page07 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 25% 40%;
      grid-template-columns: 30% 25% 40%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.page07 .pudelko-na-fote {
  width: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page07 .pudelko-na-fote:nth-of-type(1) {
  background-image: url(../src/img/stosowanie_antybiotykow.svg);
}

.page07 .pudelko-na-fote:nth-of-type(2) {
  background-image: url(../src/img/graphic_page_07.svg);
}

.page07 .pudelko-na-fote:nth-of-type(3) {
  background-image: url(../src/img/nie_zaleca_sie.svg);
}

.page07 img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  cursor: pointer;
}

.page07 #strzalka {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-animation: arrow_two 1s infinite ease-in-out;
          animation: arrow_two 1s infinite ease-in-out;
}

@-webkit-keyframes arrow_two {
  0% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  50% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
}

@keyframes arrow_two {
  0% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  50% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
}

.pudelko--05 {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% 65%;
      grid-template-columns: 35% 65%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.pudelko--05 .obrazek--05 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pudelko--05 .obrazek--05:nth-of-type(1) {
  background-image: url(../src/img/bezposrednia_aplikacja.svg);
  -webkit-animation: arrow_moves 1.5s infinite ease-in-out;
          animation: arrow_moves 1.5s infinite ease-in-out;
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}

@-webkit-keyframes arrow_moves {
  0% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
  50% {
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
  }
  100% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
}

@keyframes arrow_moves {
  0% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
  50% {
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
  }
  100% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
}

.pudelko--05 .obrazek--05:nth-of-type(2) {
  background-image: url(../src/img/Elugel_paczka_02.gif);
  -webkit-filter: drop-shadow(0 1rem 1rem rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0 1rem 1rem rgba(0, 0, 0, 0.5));
}

.obrazek--05-02 {
  width: 100%;
  height: 100%;
  background-image: url(../src/img/miejscowo_dzialajacy.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pudelko--06 {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.obrazek--06 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.obrazek--06:nth-of-type(1) {
  background-image: url(../src/img/pudlo_zestaw.gif);
  -webkit-filter: drop-shadow(0 0rem 0.6rem rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0 0rem 0.6rem rgba(0, 0, 0, 0.5));
  z-index: 100;
}

.obrazek--06:nth-of-type(2) {
  background-image: url(../src/img/stosowanie_antyseptyki.svg);
}

.obrazek--06:nth-of-type(3) {
  background-image: url(../src/img/antyseptyka_w_chirurgii.svg);
}
/*# sourceMappingURL=App.css.map */